<html>
  <body>
    <p>Hi <%= @user.name.html_safe %></p>
    <p>
      <%= @post.author.name %> Just publihsed a new post <%= @post.name %>. Login now to your kisi account and check it.
    </p>
    <p> Thanks,</p>
    <p> Kisi</p>
  </body>
</html>
