{
  "type": "XXXXXXXXX",
  "project_id": "XXXXXXXXX",
  "private_key_id": "XXXXXXXXX",
  "private_key": "XXXXXXXXX",
  "client_email": "XXXXXXXXX",
  "client_id": "XXXXXXXXX",
  "auth_uri": "XXXXXXXXX",
  "token_uri": "XXXXXXXXX",
  "auth_provider_x509_cert_url": "XXXXXXXXX",
  "client_x509_cert_url": "XXXXXXXXX",
}
